/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

#root,
#__next {
    isolation: isolate;
}

@font-face {
    font-family: "MyWebFont";
    src: url("assets/fonts/WebFont.eot");
    src: url("assets/fonts/WebFont.eot?#iefix") format("embedded-opentype"),
        url("assets/fonts/WebFont.woff") format("woff"),
        url("assets/fonts/WebFont.ttf") format("truetype"),
        url("assets/fonts/WebFont.svg#webfont") format("svg");
}
@font-face {
    font-family: "norse-bold";
    src: url("assets/fonts/Norse-Bold.otf") format("opentype");
    font-display: swap;
}
html {
    width: 100%;
}
body {
    display: flex;
    height: 100vh;
    width: 100%;
    flex: auto;
}

.left-section {
    background-image: url("assets/images/halie-west-25xggax4bSA-unsplash.jpg");
    background-size: cover;
    flex: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.right-section {
    flex: auto;
}

h1 {
    font-family: "norse-bold", serif;
    color: white;
    font-size: 75px;
}

.logo {
    height: 150px;
}

.left-body {
    display: flex;
    justify-content: center;
    background-color: rgb(0, 0, 0, 0.4);
}

.credit a {
    color: ghostwhite;
}
.credit {
    color: ghostwhite;
}

.left-footer {
    display: flex;
    justify-content: center;
}
